<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adding Book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="webjars/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Add New Book</h1>
        <form action="#" th:action="@{/add-book}" method="post">
            <p>Book name: <input id="name-input" type="text"/></p>
            <p>Number of pages: <input id="pages-input" type="number"/></p>
            <p>Author name: <input id="author-name-input" type="text"/></p>
            <p>Author surname: <input id="author-surname-input" type="text"/></p>
            <p>Genre name: <input id="genre-name-input" type="text"/></p>
            <p><input id="save-button" type="submit" value="Add book" /></p>
        </form>
    </body>

    <script>
        $('#save-button').click(function() {
            var book = {
                    "name": $('#name-input').val(),
                    "pages": $('#pages-input').val(),
                    "authors":[{"name":$("#author-name-input").val(), "surname":$("#author-surname-input").val()}],
                    "genres":[{"name":$("#genre-name-input").val()}]
            };

            $.ajax({
                url: '/api/books',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(book),
                contentType: 'application/json',
                success: function () {
                }
            });
        });
    </script>
</html>
