<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Comments</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            .comments, .comments td {
                border: 1px solid lightgray;
                padding: 5px;
            }
        </style>
    </head>

    <body>
        <h1>Comments:</h1>

        <table class="comments">
            <thead>
                <tr>
                    <th>Оценка</th>
                    <th>Пользователь</th>
                    <th>Комментарий</th>
                    <th>Дата комментария</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:text="${comment.mark}">0</td>
                    <td th:text="${comment.userName}">-</td>
                    <td th:text="${comment.comment}">-</td>
                    <td th:text="${comment.createDate}">-</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
