<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>List of all comments by book</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            .comments, .comments td {
                border: 1px solid lightgray;
                padding: 5px;
            }
        </style>
        <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>COMMENTS:</h1>

        <table class="comments">
            <thead>
                <tr>
                    <th>Оценка</th>
                    <th>Пользователь</th>
                    <th>Комментарий</th>
                    <th>Дата комментария</th>
                </tr>
            </thead>

            <tbody>

            </tbody>

            <script>
                $(function () {

                    /*var names = $('#names').val();

                    $.get('/api/all-comments-by-book', {name: names}).done(function (books) {
                        books.forEach(function (book) {
                            book.comments.forEach(function (comment) {
                                $('tbody').append(`
                                    <tr>
                                        <td>${book.name}</td>
                                        <td>${comment.mark}</td>
                                        <td>${comment.userName}</td>
                                        <td>${comment.comment}</td>
                                        <td>${comment.createDate}</td>
                                    </tr>
                                `)
                            });
                        });
                    })*/
                });

                $.ajax({
                        url: "/api/all-comments-by-book",
                        type: "GET",
                        //data: "name=" + $('#name').val(),
                        data: "name=" + "о",
                        success: function(books) {
                            books.forEach(function (book) {
                                                        book.comments.forEach(function (comment) {
                                                            $('tbody').append(`
                                                                <tr>
                                                                    <td>${book.name}</td>
                                                                    <td>${comment.mark}</td>
                                                                    <td>${comment.userName}</td>
                                                                    <td>${comment.comment}</td>
                                                                    <td>${comment.createDate}</td>
                                                                </tr>
                                                            `)
                                                        });
                                                    });
                        }
                    });
            </script>
        </table>
    </body>
</html>
