<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>List of all genres</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            .genres, .genres td {
                border: 1px solid lightgray;
                padding: 5px;
            }
        </style>
    </head>

    <body>
        <h1>GENRES:</h1>

        <table class="genres">
            <thead>
            <tr>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.name}"> - </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
