<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>List of all comments by book</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            .comments, .comments td {
                border: 1px solid lightgray;
                padding: 5px;
            }
        </style>
        <script src="webjars/jquery/2.1.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>COMMENTS:</h1>

        <table class="comments">
            <thead>
                <tr>
                    <th>Книга</th>
                    <th>Комментарий</th>
                </tr>
            </thead>

            <tbody>

            </tbody>

            <script>
                var urlString = window.location.href;
                var url = new URL(urlString);
                var nameParameter = url.searchParams.get("name");

                $.ajax({
                        url: "/api/books/"+ encodeURIComponent(nameParameter) +"/book-comments",
                        type: "GET",
                        success: function(books) {
                            var bookContent = "";
                            books.forEach(function (book) {
                                bookContent += '<tr>';
                                bookContent += '<td>' + `${book.name}` + '</td>';
                                bookContent += '<td><table>';
                                bookContent += '<thead><tr><th>Оценка</th><th>Пользователь</th><th>Комментарий</th><th>Дата комментария</th></tr></thead>';
                                bookContent += '<tbody>';
                                book.comments.forEach(function (comment) {
                                    bookContent += '<tr>';
                                    bookContent += '<td>' + `${comment.mark}` + '</td>';
                                    bookContent += '<td>' + `${comment.userName}` + '</td>';
                                    bookContent += '<td>' + `${comment.comment}` + '</td>';
                                    bookContent += '<td>' + `${comment.createDate}` + '</td>';
                                    bookContent += '</tr>';
                                });
                                bookContent += '</tbody></table></td></tr>';
                            });
                            $('tbody').append(bookContent);
                        }
                    });
            </script>
        </table>
    </body>
</html>
