<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Remove book</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            label {
                display: inline-block;
                width: 100px;
            }

            input:read-only {
                background: lightgray;
            }

            .book-info, .book-info td {
                            border: 1px solid lightgray;
                            padding: 5px;
                        }
        </style>
        <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
            <h1>Info about removing book:</h1>

            <body1>
                <script>
                    var urlString = window.location.href;
                    var url = new URL(urlString);
                    var nameParameter = url.searchParams.get("id");

                    $.ajax({
                        url: "/api/books/" + encodeURIComponent(nameParameter),
                        type: "GET",
                        success: function(book) {
                            var bookContent = "";
                            bookContent += '<table class="book-info"><thead><tr><th>ID</th><th>NAME</th><th>PAGES</th></tr></thead>' +
                             '<tbody><tr><td>'+ `${book.databaseId}` +'</td><td>'+ `${book.name}` +'</td><td>'+ `${book.pages}` +'</td></tr></tbody></table><br/><br/>';
                            $('body1').append(bookContent);
                        }
                    });
                </script>
            </body1>

        <button id="delete-button" type="submit">Delete</button>
            <script>
                $('#delete-button').click(function() {
                    var urlString = window.location.href;
                    var url = new URL(urlString);
                    var nameParameter = url.searchParams.get("id");

                    $.ajax({
                        url: "/api/books/" + encodeURIComponent(nameParameter),
                        type: "DELETE",
                        success: function() {
                        }
                    });
                    window.location.replace("/");
                });
            </script>
    </body>
</html>