<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Remove book</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            label {
                display: inline-block;
                width: 100px;
            }

            input:read-only {
                background: lightgray;
            }

            .row {
                margin-top: 10px;
            }
        </style>
        <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <form id="delete-form" th:action="@{/delete-book(id=${book.databaseId})}" th:method="delete" action="delete-book.html">
            <h1>Info about removing book:</h1>

            <div class="row">
                <label for="id-input">ID:</label>
                <input id="id-input" type="text" readonly="readonly" th:value="${book.databaseId}" value="0"/>
            </div>

            <div class="row">
                <label for="name-input">Name:</label>
                <input id="name-input" type="text" readonly="readonly" th:value="${book.name}" value="-"/>
            </div>

            <div class="row">
                <label for="pages-input">Pages:</label>
                <input id="pages-input" type="text" readonly="readonly" th:value="${book.pages}" value=0 />
            </div>

            <div class="row">
                <button type="submit">Delete</button>
                <script>
                    var urlString = window.location.href;
                    var url = new URL(urlString);
                    var nameParameter = url.searchParams.get("id");

                    $.ajax({
                        url: "/api/books/" + encodeURIComponent(nameParameter),
                        type: "DELETE",
                        success: function() {
                        }
                    });
                </script>
            </div>
        </form>
    </body>
</html>