<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Edit book</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            label {
                display: inline-block;
                width: 100px;
            }

            input:read-only {
                background: lightgray;
            }

            .row {
                margin-top: 10px;
            }

            .book-info, .book-info td {
                border: 1px solid lightgray;
                padding: 5px;
            }
        </style>
        <script src="webjars/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
            <h1>Book:</h1>

            <body1>
                <script>
                    var urlString = window.location.href;
                    var url = new URL(urlString);
                    var nameParameter = url.searchParams.get("id");
                    $.ajax({
                        url: "/api/books/" + encodeURIComponent(nameParameter),
                        type: "GET",
                        success: function(book) {
                            var bookContent = "";
                            bookContent += '<table class="book-info"><thead><tr><th>ID</th><th>NAME</th><th>PAGES</th></tr></thead>' +
                             '<tbody><tr><td>'+ `${book.databaseId}` +'</td><td>'+ `${book.name}` +'</td><td>'+ `${book.pages}` +'</td></tr></tbody></table><br/><br/>';
                            $('body1').append(bookContent);
                        }
                    });
                </script>
            </body1>

            <div class="row">
                <label for="name-input">Введите новое название книги:</label>
                <input id="name-input" type="text"/>
            </div>

            <div class="row">
                <label for="pages-input">Введите новое количество страниц:</label>
                <input id="pages-input" type="number"/>
            </div>

            <button id="save-button" type="submit">SAVE</button>
            <script>
                $('#save-button').click(function() {
                    var urlString = window.location.href;
                    var url = new URL(urlString);
                    var nameParameter = url.searchParams.get("id");
                    $.ajax({
                        url: "/api/books",
                        type: "PUT",
                        data: "databaseId=" + nameParameter + "&name=" + $('#name-input').val() + "&pages=" + $('#pages-input').val(),
                        success: function() {
                        }
                    });
                    window.location.replace("/");
                });
            </script>
    </body>
</html>
