<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Edit book</title>
        <style type="text/css">
            body {
                padding: 50px;
            }

            label {
                display: inline-block;
                width: 100px;
            }

            input:read-only {
                background: lightgray;
            }

            .row {
                margin-top: 10px;
            }
        </style>
        <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <form id="edit-form" th:action="@{/update-book(id=${currentBook.databaseId})}" th:method="put">
            <h1>Book:</h1>

            <div class="row">
                <label for="id">ID книги:</label>
                <input id="id" type="text" readonly="readonly" th:field="${currentBook.databaseId}"/>
            </div>

            <div class="row">
                <label for="name">Название книги:</label>
                <input id="name" type="text" readonly="readonly" th:value="${currentBook.name}"/>
            </div>

            <div class="row">
                <label for="pages">Количество страниц:</label>
                <input id="pages" type="number" readonly="readonly" th:value="${currentBook.pages}"/>
            </div>

            <div class="row">
                <label for="name-input">Введите новое название книги:</label>
                <input id="name-input" type="text"/>
            </div>

            <div class="row">
                <label for="pages-input">Введите новое количество страниц:</label>
                <input id="pages-input" type="number"/>
            </div>

            <div class="row">
                <button id="save-button" type="submit">Save</button>
            </div>

            <script>
                $('#save-button').click(function() {
                    $.ajax({
                        url: "/api/books",
                        type: "PUT",
                        data: "databaseId=" + $('#id').val() + "&name=" + $('#name-input').val() + "&pages=" + $('#pages-input').val(),
                        success: function() {
                        }
                    });
                });
            </script>
        </form>
    </body>
</html>
